<div class="ms-Nav-group group is-expanded groupIsExpanded">
  <div class="ms-Nav-groupContent groupContent">
    <ul role="list" class="navItems">
      <li role="listitem" class="navItem">
        <div name="Home" class="ms-Nav-compositeLink compositeLink is-expanded compositeLinkIsExpanded">
          <button class="ms-Nav-chevronButton ms-Nav-chevronButton--link chevronButton chevronButtonLink"
            aria-expanded="true" tabindex="0">
            <i role="presentation" aria-hidden="true" data-icon-name="ChevronDown" class="ms-Icon ms-Nav-chevron chevronIcon"></i>
          </button>
          <a class="ms-Nav-linkButton link isOnExpanded ms-Button ms-Button--action ms-Button--command" href="http://example.com"
            title="Home" tabindex="-1">
            <div class="ms-Button-flexContainer">
              <i role="presentation" aria-hidden="true" class="ms-Icon ms-Icon-placeHolder ms-Button-icon"></i>
              <div class="ms-Button-textContainer"></div>
              <div class="ms-Nav-linkText linkText">Home</div>
            </div>
          </a>
        </div>
        <ul role="list" class="navItems">
          <li role="listitem" class="navItem">
            <div name="Activity" class="ms-Nav-compositeLink compositeLink">
              <a class="ms-Nav-linkButton link isOnExpanded ms-Button ms-Button--action ms-Button--command"
                href="http://msn.com" title="Activity" data-is-focusable="true" tabindex="-1">
                <div class="ms-Button-flexContainer">
                  <i role="presentation" aria-hidden="true" class="ms-Icon ms-Icon-placeHolder ms-Button-icon"></i>
                  <div class="ms-Button-textContainer"></div>
                  <div class="ms-Nav-linkText linkText">Activity</div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li role="listitem" class="navItem" >
        <div name="Documents" class="ms-Nav-compositeLink compositeLink is-expanded is-selected compositeLinkIsExpanded compositeLinkIsSelected">
          <a class="ms-Nav-linkButton link isOnExpanded ms-Button ms-Button--action ms-Button--command" href="http://example.com"
            title="Documents" data-is-focusable="true"tabindex="-1">
            <div class="ms-Button-flexContainer">
              <i role="presentation" aria-hidden="true" class="ms-Icon ms-Icon-placeHolder ms-Button-icon"></i>
              <div class="ms-Button-textContainer"></div>
              <div class="ms-Nav-linkText">Documents</div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>