@import '../styles/_colors';

.ms-Link {
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    color: $ms-color-themePrimary;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.ms-Link:hover {
    color: $ms-color-themeDarker;
}