.ms-ContextualHost {
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index: 10;
    margin: 16px auto;
    position: relative;
    min-width: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
}

.ms-ContextualHost-main {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    outline: 1px solid transparent;
    z-index: 5;
    min-height: 10px;
}

.ms-Callout {
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 288px;
}

.ms-Callout-header {
    z-index: 105;
    padding: 24px 28px 12px;
}

.ms-Callout-title {
    margin: 0;
    font-weight: 300;
    font-size: 21px;
}

.ms-Callout-inner {
    height: 100%;
    padding: 0 28px 12px;
}

.ms-Callout-subText {
    margin: 0;
    font-weight: 300;
    color: #333;
    font-size: 12px;
}

.ms-Callout-actions {
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
}

.ms-ContextualHost-beak {
    box-shadow: 0 0 15px -5px #3c3c3c;
    position: absolute;
    width: 28px;
    height: 28px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
    outline: 1px solid transparent;
}